// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// COLORS
$color-white: #fff;
$color-black: #000;

// Variables
$color-primary: #731DD8;
$color-primary-light: #8C46DF;
$color-primary-dark: #5F18B1;